# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.venv/
venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.DS_Store
.idea/
.vscode/
